.stockContainer {
  width: 100% !important;
  display: block;
  margin-top: 10px;
}

.stockTable {
  display: flex;
  flex-direction: column-reverse;
}

.container1 {
  display: flex;
  flex-direction: column;
}

.containerFiltersMobile {
  display: none;
}

.btnCloseFilters {
  position: absolute;
  height: 70vh;
  top: 200px;
  width: 30px;
  z-index: 1000000 !important;
  left: 0;
  background-color: white;
  border: none;
  box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.4);
  border-radius: 0 6px 6px 0;
}

.btnOpenFilters {
  position: absolute;
  height: 70vh;
  top: 200px;
  width: 30px;
  z-index: 1002;
  right: 0;
  background-color: white;
  border: none;
  box-shadow: -3px 4px 4px 0px rgba(0, 0, 0, 0.4);
  border-radius: 6px 0 0 6px;
}

.filterMobileImg {
  position: absolute;
  top: 1rem;
}

.container2 {
  display: none;
}

.container3 {
  background-color: rgb(231, 231, 231);
  padding: 25px;
  height: auto;
}

.textFilter {
  font-weight: 500;
  font-size: 15px;
  line-height: 22.44px;
  width: 90%;
  margin: auto;
}

@media screen and (min-width: 1024px) {
  .btnCloseFilters {
    display: none;
  }

  .btnOpenFilters {
    display: none;
  }

  .container2 {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .container3 {
    display: none;
  }
}

.dataTransactions {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0px;
}

.stockPanel {
  background-color: #CECECE;
}

.yetAnotherContainer {
  margin: 25px auto 15px auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.stockPanelInputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 66px;
}

.stockPanelInput {
  border-radius: 50px;
  font-size: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

.stockPanelInputIcon {
  padding-left: 0.5ch;
  font-size: 25px;
  color: #000000;
}

.stockPanelBtn {
  display: flex;
  justify-content: space-between;
}

.tableStockAndCopy {
  overflow: hidden !important;
}

.btnCopy {
  position: absolute !important;
  top: 310px;
  background-color: black !important;
  border-color: transparent;
  color: white !important;
  padding: 1ch !important;
  border-radius: 50% !important;
  min-width: 0px !important;
  right: 10px;
  margin-top: 1.5%;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
}

@media screen and (min-width: 446px) {
  .btnCopy {
    top: 250px;
  }
}

.btnCopy:hover {
  color: #fff;
  border-color: transparent;
  background-color: rgb(80, 80, 80)
}

@media screen and (min-width: 1024px) {
  .tableStockAndCopy {
    display: flex;
    height: 100%;
  }

  .stockContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 80%;
    padding: 1%;
  }

  .stockTable {
    flex-direction: column;
    justify-content: flex-start;
  }

  .stockPanel {
    background-color: rgb(201, 201, 201);
    position: fixed;
    right: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 100vh;
    margin: 0px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 2.5%;
    box-sizing: border-box;
  }

  .stockPanelInputContainer {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .stockPanelInput {
    width: 100%;
  }

  .btnCopy {
    position: inherit;
    top: 35px;
    min-width: 0px;
    right: 2%;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
  }
}

@media screen and (min-width: 1450px) {
  .btnCopy {
    position: inherit;
    top: 35px;
    min-width: 0px;
    right: 4%;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
  }
}

/* MUGRE */
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100dvh;
  box-sizing: border-box;
}

@media (min-width: 1024px) {
  .container{
    height: 100%;
  }
}


.tabs {
  list-style: none;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.tabs li {
  position: relative;
  display: flex;
  width: 50%;
  color: rgb(141, 141, 141);
  font-size: 20px;
  margin: 1ch 0;
  width: 13ch;
}

@media screen and (min-width: 1024px) {
  .tabs {
    gap: 3rem;
  }

  .tabs li {
    font-size: 24px;
  }
}

.tabs li.active {
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  /* Sombreado en la pestaña activa */
  color: black;
  height: auto;
}

.tabs li.active:after {
  content: "";
  position: absolute;
  bottom: -17px;
  left: 50%;
  transform: translateX(-50%);
  width: 24px;
  height: 20px;
  background-image: url('./src/assets/tabIndicator.png');
  background-size: cover;
  background-position: center;
}

.tabs li:hover {
  cursor: pointer;
}

.activeWindow {
  position: absolute;
  display: flex;
  z-index: 1;
  height: 100%;
  width: 50%;
  transition: 0.25s ease-out;
}

.activeWindow img {
  bottom: -17px;
  left: 50%;
  width: 24px;
  height: 20px;
}

.letras {
  margin: 0px;
}