.tabla {
  margin: 10px 0px 10px 10px;
  box-sizing: border-box;
}

.MuiPaper-root {
  overflow: hidden !important;
}

@media screen and (min-width: 1024px) {
  .tabla {
    width: 100%;
    overflow: visible !important;
  }
}

.tabla::-webkit-scrollbar {
  width: 7px;
  border-radius: 100%;
  position: absolute;
}

.tabla::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}

.tabla::-webkit-scrollbar-thumb {
  background-color: rgb(141, 141, 141);
  border-radius: 5px;

}

.tabla::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}