.tabla {
    margin: 1.5%;
    width: 100%;
}

.tabla::-webkit-scrollbar {
    width: 7px;
    border-radius: 100%;
    position: absolute;
}

.tabla::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
}

.tabla::-webkit-scrollbar-thumb {
    background-color: rgb(141, 141, 141);
    border-radius: 5px;
    
}

.tabla::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: pointer;
}