.letras {
  margin: 0px;
  display: flex;
  align-items: center;
}

.letrasWithMargin {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .letrasWithMargin {
    margin: 7px;
  }

}

.date {
  margin-left: 10px;
}