.letras {
    font-size: 12px;
    font-family: 'Calibri';
    font-weight: bold;
    margin: 0px;
}

.date {
    font-size: 15px;
    font-family: 'Calibri';
    font-weight: bold;
    margin-left: 10px;
}