.usersContainer {
    height: 100vh;
    width: 100vw;
}

.header {
    background-color: black;
    width: 100%;
    height: 10vh;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;

}

.footer {
    background-color: black;
    width: 100%;
    height: 8vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.iHateYou {
    display: flex;
    flex-direction: column-reverse;
    height: 82vh;
    gap: 25px;
    max-height: 82vh;
    overflow: hidden;
}

.activeUsers {
    background-color: #D9D9D9;
    height: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    padding-bottom: 15px;
}

.activeUsers h2 {
    width: 85%;
    margin: 10px auto;
    font-size: 28px;
    box-sizing: border-box;
    font-weight: 400;
}

.activeUsers .userList {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 85%;
    margin: 0 auto;
    gap: 10px;
    overflow: scroll;
}

.activeUsers div div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.createUser {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.createUser h2 {
    width: 85%;
    margin: 0 auto;
    font-size: 28px;
    box-sizing: border-box;
    font-weight: 400;
}

.createUser div {
    width: 85%;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;

    >p {
        font-size: 24px;
    }

    >* {
        margin: 0;
    }

    >button {
        margin-top: 1rem;
    }
}

@media screen and (min-width: 1024px) {

    .iHateYou {
        flex-direction: row-reverse;
    }

    .activeUsers {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 2rem;
        width: 65dvw;
        overflow: initial;
        background-color: white;
    }

    .activeUsers h2 {
        padding: 0;
        margin: 0 auto;
        font-size: 36px;
        box-sizing: border-box;
        font-weight: 400;
    }

    .userList::-webkit-scrollbar {
        width: 7px;
        height: 7px;
        border-radius: 100%;
        position: absolute;
    }

    .userList::-webkit-scrollbar-track {
        background-color: rgb(255, 255, 255);
    }

    .userList::-webkit-scrollbar-thumb {
        background-color: rgb(141, 141, 141);
        border-radius: 5px;

    }

    .userList::-webkit-scrollbar-thumb:hover {
        background: #555;
        cursor: pointer;
    }

    .activeUsers div div {
        width: 90%;
        margin: 0;
    }

    .createUser {
        width: 35dvw;
        background-color: #D9D9D9;
        gap: 20px;
        justify-content: flex-start;
        padding-top: 2rem;
    }

    .createUser h2 {
        padding: 0;
        width: 80%;
        font-size: 36px;
    }

    .createUser div {
        gap: 15px;
        width: 80%;
    }

    .createUser div p {
        font-size: 24px;
    }

    .createUser div button {
        margin: 0;
    }
}

.activeUsers::-webkit-scrollbar {
    width: 7px;
    border-radius: 100%;
}

.activeUsers::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
}

.activeUsers::-webkit-scrollbar-thumb {
    background-color: rgb(141, 141, 141);
    border-radius: 5px;

}

.activeUsers::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: pointer;
}

.usersContainer button {
    cursor: pointer;
}

.deleteModal {
    position: absolute;
    font-size: 20px;
}